/*footer*/
footer{
    background: $color3;
    min-height: 100px;

    p{
        color: $color2;
        text-align: center;
    }
}


#iconos{
    font-size: 26px;
    padding: 0 8px;
    color: $color2;
}